/* navmainmenu */

@layer kvmstyles {

  /* main navigation */

  .menu-items {
    display: block;
    list-style:      none;
    padding:         0;
    margin:          0;
    flex-wrap:       nowrap;
    justify-content: center;
    color: var(--clr-mnu);
    background-color: transparent;
  }

  .menu-item {
    margin-inline: 1rem;
  }
  .menu-items > li {
    &.active {
      color: var(--clr-mnu--active);
      font-weight: bold;
      background-color: transparent;
      a {
        border-bottom: 4px dotted var(--clr-mnu--active, black);
      }
    }

    a.menu-item {
      display: block;
      padding: 0;
    }

    a.menu-item:hover,
    a.menu-item:focus {
      color: var(--clr-mnu--hover);
      background-color: transparent;
      border-bottom: 4px solid var(--clr-mnu--hover, gray);
    }

    a.menu-item:focus-visible {
      background-color: transparent;
      border-bottom: 4px solid var(--clr-mnu--hover, gray);
    }
  }

  .nav-mobile {
    //display: none;
    top: 60px;
    right: 22px;
    width: max-content;
    padding: var(--gutter);
    background-color: oklch(from var(--clr-mnubg) l c h / 0.6);
    backdrop-filter: blur(1rem);
  }

  .level-0 {
    margin-inline-start: 0;
  }

  .mlevel-1 {
    list-style: none;
    flex-flow: column;
    gap: var(--gutter);
    align-content: flex-start;
    background-color: transparent;
    padding: 0;
    max-height: calc(100svh - 5rem);
    overflow-y: scroll;
  }

  .mlevel-2,
  .mlevel-3 {
    list-style: none;
    padding: 0;
  }

  .current:is(.mlevel-01, .mlevel-02, .mlevel-03) > a {
    color: var(--clr-mnu--active);
    background-color: var(--clr-mnubg--active);
  }

  .mlevel-01 {
    flex: min-content 1 1;
    display: inline-block;
    border-block-start: 1px solid var(--clr-mnu);
    background-color: var(--clr-mnumobilebg);
  }

  .mlevel-02,
  .mlevel-03 {
    display: block;
    font-size: var(--fs-small);
  }

  .mlevel-02 {
    padding-inline-start: var(--gutter);
  }
  .mlevel-03 {
    padding-inline-start: calc(var(--gutter) * 2);
  }

  a.mmenu-item {
    display: block;
    padding: 0.5em;
    width: 100%;
  }

  .hamburger-menu svg {
    --button-color: var(--clr-mnu--active);
    &:hover {
      --button-color:   var(--clr-mnu--hover);
      background-color: var(--clr-mnubg--hover);
    }
  }

}

