/* navmainmenu */

@layer kvmstyles {

  /* main navigation */

  .nav-mobile {
    //display: none;
    top: 60px;
    right: 22px;
    max-width: 85vw;
    width: 100%;
    padding: var(--gutter);
    background-color: oklch(from var(--clr-mnubg) l c h / 0.6);
    backdrop-filter: blur(1rem);
  }

  .level-0 {
    margin-inline-start: 0;
  }

  .mlevel-1 {
    list-style: none;
    flex-flow: row;
    gap: var(--gutter);
    justify-content: space-between;
    align-content: space-between;
    background-color: transparent;
    padding: 0;
    max-height: calc(100svh - 5rem);
    overflow-y: scroll;
  }

  .mlevel-2,
  .mlevel-3 {
    list-style: none;
    padding: 0;
  }

  .current:is(.mlevel-01, .mlevel-02, .mlevel-03) > a {
    color: var(--clr-mnu--active);
    background-color: var(--clr-mnubg--active);
  }

  .mlevel-01 {
    flex: min-content 1 1;
    display: inline-block;
    border-block-start: 0;
    background-color: var(--clr-mnumobilebg);
  }

  .mlevel-02,
  .mlevel-03 {
    display: block;
    font-size: var(--fs-small);
  }

  .mlevel-02 {
    padding-inline-start: var(--gutter);
  }
  .mlevel-03 {
    padding-inline-start: calc(var(--gutter) * 2);
  }

  a.mmenu-item {
    display: block;
    padding: 0.5em;
    width: 100%;
    color: var(--clr-mnumobile);
  }

  a.mmenu-item:hover,
  a.mmenu-item:focus {
    color: var(--clr-mnu--hover);
    background-color: var(--clr-mnubg--hover);
  }

  a.mmenu-item:focus-visible {
    color: var(--clr-mnu--hover);
    background-color: var(--clr-mnubg--hover);
  }

  .hamburger-menu svg {
    --button-color: var(--clr-mnu--active);
    &:hover,
    &:focus {
      --button-color:   var(--clr-mnu--hover);
      background-color: var(--clr-mnubg--hover);
    }
  }

}

