/* page */

@layer kvmstyle {
  footer {
    color: var(--clr-footer-text);
    background-color: var(--clr-footerbg);
    //border-block-start: 5px solid var(--clr-footer--border);
  }

  .footer--content {
    padding-block: var(--gutter);
  }

}

