/* fonts */

@layer kvmstyles {

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  /* =============================== */
  :root {
    /* fontfaces */
    --ff:              'Open Sans';
    --ff-condensed:    'Open Sans';
    --ff-serif:        'Open Sans';
    --ff-h:            'Open Sans';
    --ff-nav:          'Open Sans';
    --ff-mono:         'Open Sans';
    --ff-symbol:       'Symbols';

    /* font weight */
    --fw-regular:      300;
    --fw-mono:         300;
    --fw-bold:         700;

    /* font size */
    --fs-minor:        16px;
    --fs-regular:      18px;
    --fs-regular--big: 24px;

    /* line height */
    --lh-regular:      1.6;
    --lh-small:        1.2;

    --lh-h:            var(--lh-small);

    /* regular font */
    --fs-standard:     clamp(var(--fs-regular), (100vw - 960px) / 100 + var(--fs-regular), var(--fs-regular--big));
    --fs-big:          calc(var(--fs-standard) * 1.125);
    --fs-small:        calc(var(--fs-standard) * 0.875);

    font-size:         var(--fs-standard);
    line-height:       var(--lh-regular);

  }

  .fs-big {
    font-size: var(--fs-big);
    line-height: 1.8;
  }
  .fs-small {
    font-size: var(--fs-small);
  }

}
