/* page */
@use '../settings' as *;

@layer kvmstyles {

  html {
    font-weight: var(--fw-regular);
  }


  main {
    margin-block-start: 60px;
    container: main / inline-size;
    align-content: start;
  }
}
