<f:layout name="KvmEmail" />
<f:section name="Title"><h1>{title}</h1></f:section>
<f:section name="Main">
    <table>
        <tr>
            <td colspan="2"><p>Du hast uns diese Angaben gesendet. Wir melden uns innerhalb einer Woche bei Dir. Falls Du nichts von uns hörst, melde Dich bitte via E-Mail (<a href="mailto:info@kv-muensingen.ch">info@kv-muensingen.ch</a>) mit Deinem Anliegen. Danke<br></p></td>
        </tr>

        <formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
            <tr>
                <f:if condition="{formValue.isSection}">
                    <f:then>
                        <td colspan="2"><b>{formvh:translateElementProperty(element: formValue.element, property: 'label')}</b></td>
                    </f:then>
                    <f:else>
                        <td valign="top" align="left" width="50%">{formvh:translateElementProperty(element: formValue.element, property: 'label')}</td>
                        <td valign="top" align="left">
                            <f:if condition="{formValue.value}">
                                <f:then>
                                    <f:if condition="{formValue.isMultiValue}">
                                        <f:then>
                                            <table cellspacing="0" border="0">
                                                <f:for each="{formValue.processedValue}" as="value">
                                                    <tr>
                                                        <td>{value}</td>
                                                    </tr>
                                                </f:for>
                                            </table>
                                        </f:then>
                                        <f:else>
                                            <table cellspacing="0" border="0">
                                                <tr>
                                                    <f:if condition="{formValue.element.type} ==='Checkbox'">
                                                        <f:then>
                                                            <f:if condition="{formValue.processedValue} == 1">
                                                                <f:then><td>&#10004;</td></f:then>
                                                                <f:else><td>&#10008;</td></f:else>
                                                            </f:if>
                                                        </f:then>
                                                        <f:else>
                                                            <td><f:format.nl2br>{formValue.processedValue}</f:format.nl2br></td>
                                                        </f:else>
                                                    </f:if>
                                                </tr>
                                            </table>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    -
                                </f:else>
                            </f:if>
                        </td>
                    </f:else>
                </f:if>
            </tr>
        </formvh:renderAllFormValues>
    </table>
</f:section>
