/* headings */

@use '../settings' as *;

@layer kvmstyles {
  /* reset */

  h1, h2 {
    font-family: var(--ff);
    font-weight: var(--fw-regular);
  }

  .h1-font,
  .h1 {
    font-size: clamp(2.25rem, 2.75vw, 3.5rem);
  }

  .h2-font,
  .h2 {
    font-size: clamp(2rem, 2.25vw, 3rem);
  }
  .h3-font,
  .h4-font,
  .h3,
  .h4 {
    font-size: clamp(1.1rem, 1.5vw, 2rem);
  }

  .titelclaim {
    color: var(--clr-mnu--active);
    padding-block-start: var(--gutter);
    padding-block-end: 0;
    margin: 0;
  }

  .h2, .h3, .h4 {
    border: 0;
    margin-block-start: 0;
  }

  .h4 {
    color: var(--clr-text);
  }
}
