<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="breadcrumbmenu fs-small">
    <f:for each="{page.localRootLine}" as="breadcrumb" iteration="ibreadcrumb">
        <f:if condition="{ibreadcrumb.isLast}">
            <f:then>
                <span>{breadcrumb.nav_title}</span>
            </f:then>
            <f:else>
                <f:link.page pageUid="{breadcrumb.uid}">{breadcrumb.nav_title}</f:link.page><f:if condition="{page.id} != {breadcrumb.uid}">&nbsp;>>&nbsp;</f:if>
            </f:else>
        </f:if>
    </f:for>
</div>

</html>
