<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Courselayout-{page.pagerecord.layout}"/>


<f:section name="Main">
    <f:asset.script identifier="event" src="EXT:kvm/Resources/Public/JavaScript/Course.js"/>
    <div class="courseimageleft" id="ce{page.id}">
        <f:cObject
            data="{header: '', showcaption:'0', files: pagemedia}"
            table="pages"
            typoscriptObjectPath="tt_content.image"
        />
        <div class="courseimageleft-text">
            <h1 class="h1 coursetitle">{page.pageRecord.subtitle}</h1>

            <span class="coursteaser"><f:format.html>{page.pageRecord.cp_teaser}</f:format.html></span>
            <f:format.html>{page.pageRecord.cp_description}</f:format.html>
        </div>
    </div>
    <div class="trainingsection content-grid full-width-accent">
        <div class="course" data-id="{settings.eventPid}">
            <f:render arguments="{_all}" partial="Menu/BreadcrumbMenu"/>
            <div class="coursenav">
                <f:if condition="{upNavigation}">
                    <f:link.page pageUid="{upNavigation.0.data.uid}"><span class="button iconfont">up</span></f:link.page>
                </f:if>
                <f:if condition="{prevNavigation}">
                    <f:then>
                        <f:link.page pageUid="{prevNavigation.0.data.uid}"><span class="button iconfont">left</span></f:link.page>
                    </f:then>
                    <f:else>
                        <span class="button iconfont button--placeholder">&nbsp;</span>
                    </f:else>
                </f:if>
                <f:if condition="{nextNavigation}">
                    <f:then>
                        <f:link.page pageUid="{nextNavigation.0.data.uid}"><span class="button iconfont">right</span></f:link.page>
                    </f:then>
                    <f:else>
                        <span class="button iconfont button--placeholder">&nbsp;</span>
                    </f:else>
                </f:if>
            </div>
            <div class="courseinfo">
                <h2 class="h2">Informationen</h2>
                <ul>
                    <li class="courseinfo-item courseinfo-trainer">
                        <f:variable name="src-ul" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/course/ul.png')}"></f:variable>
                        <span class="courseinfo-icon" style="-webkit-mask-image: url('{src-ul}');">
                            <img src="{src-ul}" alt="Übungsleiter">
                        </span>
                        <p>
                            <f:for each="{trainers}" as="trainer">
                                {trainer.data.first_name} {trainer.data.last_name}, <a href="tel:{trainer.data.mobile}" class="phone-link--icon">{trainer.data.mobile}</a><br>
                            </f:for>
                        </p>
                    </li>
                    <li class="courseinfo-item courseinfo-condition">
                        <f:variable name="src-con" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/course/voraussetzung.png')}"></f:variable>
                        <span class="courseinfo-icon" style="-webkit-mask-image: url('{src-con}');">
                            <img src="{src-con}" alt="Voraussetzung">
                        </span>
                        <div>
                            <f:format.html>{page.pageRecord.cp_conditions}</f:format.html>
                        </div>
                    </li>
                    <li class="courseinfo-item courseinfo-when">
                        <f:variable name="src-wenn" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/course/wenn.png')}"></f:variable>
                        <span class="courseinfo-icon" style="-webkit-mask-image: url('{src-wenn}');">
                            <img src="{src-wenn}" alt="Trainingszeiten">
                        </span>
                        <div class="courseschedule">
                            <p><f:translate key="LLL:EXT:kvm/Resources/Private/Language/locallang.xlf:course.begin"/>:
                                <time datetime="{page.pagerecord.cp_bdate -> f:format.date(format: 'Y-M-d')}">
                                    <f:format.date format="d.m.Y">{page.pagerecord.cp_bdate}</f:format.date>
                                </time>
                            </p>
                            <f:if condition="{page.pagerecord.cp_bdate2}">
                                <p><f:translate key="LLL:EXT:kvm/Resources/Private/Language/locallang.xlf:course.begin2"/>:
                                    <time datetime="{page.pagerecord.cp_bdate2 -> f:format.date(format: 'Y-M-d')}">
                                        <f:format.date format="d.m.Y">{page.pagerecord.cp_bdate2}</f:format.date>
                                    </time>
                                </p>
                            </f:if>
                            <f:if condition="{page.pagerecord.cp_bdate3}">
                                <p><f:translate key="LLL:EXT:kvm/Resources/Private/Language/locallang.xlf:course.begin3"/>:
                                    <time datetime="{page.pagerecord.cp_bdate3 -> f:format.date(format: 'Y-M-d')}">
                                        <f:format.date format="d.m.Y">{page.pagerecord.cp_bdate3}</f:format.date>
                                    </time>
                                </p>
                            </f:if>
                            <f:format.html>{page.pageRecord.cp_when}</f:format.html>
                        </div>

                    </li>
                    <li class="courseinfo-item courseinfo-where">
                        <f:variable name="src-wo" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/course/wo.png')}"></f:variable>
                        <span class="courseinfo-icon" style="-webkit-mask-image: url('{src-wo}');">
                            <img src="{src-wo}" alt="Trainingsort">
                        </span>
                        <p>{page.pageRecord.cp_where}</p>
                    </li>
                    <li class="courseinfo-item courseinfo-fee">
                        <f:variable name="src-kosten" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/course/kosten.png')}"></f:variable>
                        <span class="courseinfo-icon" style="-webkit-mask-image: url('{src-kosten}');">
                            <img src="{src-kosten}" alt="Kosten">
                        </span>
                        <p>Mitglieder: {page.pageRecord.cp_memberfee}<br>Nichtmitglieder: {page.pageRecord.cp_nonmemberfee}</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <f:for as="contentelement" each="{pagecontent.content.records}">
        <f:cObject
            data="{contentelement.rawRecord}"
            table="tt_content"
            typoscriptObjectPath="tt_content.{contentelement.CType}"
        />
    </f:for>
</f:section>

</html>
