<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Layout-{page.pagerecord.layout}" />

<f:section name="Main">
    <f:render section="Herosmall" arguments="{hero: pagecontent.hero, pageTitle: page.pagerecord.subtitle}" />

    <f:render partial="Menu/BreadcrumbMenu" arguments="{_all}"/>

    <f:for each="{pagecontent.content.records}" as="contentelement">
        <f:cObject
            typoscriptObjectPath="tt_content.{contentelement.CType}"
            data="{contentelement.rawRecord}"
            table="tt_content"
        />
    </f:for>
</f:section>

<f:section name="Herosmall">
    <f:render partial="Herosmall" arguments="{hero: hero, pageTitle: pageTitle}"/>
</f:section>

</html>
