<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Layout-{page.pagerecord.layout}" />

<f:section name="Main">
    <f:render section="Hero" arguments="{hero: pagecontent.hero, pageTitle: page.pagerecord.subtitle}" />
    <f:for each="{pagecontent.content.records}" as="record">
        <f:cObject
            typoscriptObjectPath="tt_content.{record.CType}"
            data="{record.rawRecord}"
            table="tt_content"
        />
    </f:for>
    <f:render section="Submenu" arguments="{submenu: submenu}" />
</f:section>

<f:section name="Hero">
    <f:render partial="Hero" arguments="{hero: hero, pageTitle: pageTitle}"/>
</f:section>

<f:section name="Submenu">
   <f:render partial="Menu/SubMenu" arguments="{submenu: submenu}"/>
</f:section>

</html>
