<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Layout-{page.pagerecord.layout}" />

<f:section name="Main">
    <f:render partial="Hero" arguments="{hero: pagecontent.hero, pageTitle: page.pagerecord.subtitle}" />
    <f:for each="{pagecontent.content.records}" as="record">
        <f:cObject
            typoscriptObjectPath="tt_content.{record.CType}"
            data="{record.rawRecord}"
            table="tt_content"
        />
    </f:for>
    <f:render arguments="{submenu: submenu, cp_status: page.pagerecord.cp_status}" partial="Menu/SubMenu"/>
</f:section>

</html>
