<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Traininglayout-{page.pagerecord.layout}"/>


<f:section name="Main">
    <div class="trainingimageleft" id="ce{page.id}">
        <f:cObject
            data="{header: '', showcaption:'0', files: pagemedia}"
            table="pages"
            typoscriptObjectPath="tt_content.image"
        />
        <div class="trainingimageleft-text">
             <h1 class="h1">{page.pageRecord.subtitle}</h1>

            <span class="trainingteaser"><f:format.html>{page.pageRecord.cp_teaser}</f:format.html></span>
            <f:format.html>{page.pageRecord.cp_description}</f:format.html>
        </div>
    </div>
    <div class="trainingsection content-grid full-width-accent">
        <div class="training" data-id="{settings.trainingPid}">
            <div class="trainingnav">
                <f:if condition="{upNavigation}">
                    <f:link.page pageUid="{upNavigation.0.data.uid}"><span class="button iconfont">up</span></f:link.page>
                </f:if>
                <f:if condition="{prevNavigation}">
                    <f:then>
                        <f:link.page pageUid="{prevNavigation.0.data.uid}"><span class="button iconfont">left</span></f:link.page>
                    </f:then>
                    <f:else>
                        <span class="button iconfont button--placeholder">&nbsp;</span>
                    </f:else>
                </f:if>
                <f:if condition="{nextNavigation}">
                    <f:then>
                        <f:link.page pageUid="{nextNavigation.0.data.uid}"><span class="button iconfont">right</span></f:link.page>
                    </f:then>
                    <f:else>
                        <span class="button iconfont button--placeholder">&nbsp;</span>
                    </f:else>
                </f:if>
            </div>
        </div>
        <div class="traininginfo ">
            <h2 class="h2">Informationen</h2>
            <ul>
                <li class="traininginfo-item traininginfo-trainer">
                    <f:variable name="src-ul" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/training/ul.png')}"></f:variable>
                    <span class="trainingsinfo-icon" style="-webkit-mask-image: url('{src-ul}');">
                        <img src="{src-ul}" alt="Übungsleiter">
                    </span>
                    <p>
                        <f:for each="{trainers}" as="trainer">
                            {trainer.data.first_name} {trainer.data.last_name}, <a href="tel:{trainer.data.mobile}" class="phone-link--icon">{trainer.data.mobile}</a><br>
                        </f:for>
                    </p>
                </li>
                <li class="traininginfo-item traininginfo-condition">
                    <f:variable name="src-con" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/training/voraussetzung.png')}"></f:variable>
                    <span class="trainingsinfo-icon" style="-webkit-mask-image: url('{src-con}');">
                        <img src="{scr-con}" alt="Voraussetzung">
                    </span>
                    <div>
                        <f:format.html>{page.pageRecord.cp_conditions}</f:format.html>
                    </div>
                </li>
                <li class="traininginfo-item traininginfo-when">
                    <f:variable name="src-wenn" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/training/wenn.png')}"></f:variable>
                    <span class="trainingsinfo-icon" style="-webkit-mask-image: url('{src-wenn}');">
                        <img src="{src-wenn}" alt="Trainingszeiten">
                    </span>
                    <div>
                        <f:format.html>{page.pageRecord.cp_when}</f:format.html>
                    </div>
                </li>
                <li class="traininginfo-item traininginfo-where">
                    <f:variable name="src-wo" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/training/wo.png')}"></f:variable>
                    <span class="trainingsinfo-icon" style="-webkit-mask-image: url('{src-wo}');">
                        <img src="{src-wo}" alt="Trainingsort">
                    </span>
                    <p>{page.pageRecord.cp_where}</p>
                </li>
                <li class="traininginfo-item traininginfo-fee">
                    <f:variable name="src-kosten" value="{f:uri.image(src: 'EXT:kvm/Resources/Public/Icons/training/kosten.png')}"></f:variable>
                    <span class="trainingsinfo-icon" style="-webkit-mask-image: url('{src-kosten}');">
                        <img src="{src-kosten}" alt="Kosten">
                    </span>
                    <p>Mitglieder: {page.pageRecord.cp_memberfee}<br>Nichtmitglieder: {page.pageRecord.cp_nonmemberfee}</p>
                </li>
            </ul>
        </div>
    </div>
    <f:for as="contentelement" each="{pagecontent.content.records}">
        <f:cObject
            data="{contentelement.rawRecord}"
            table="tt_content"
            typoscriptObjectPath="tt_content.{contentelement.CType}"
        />
    </f:for>
</f:section>

</html>
