<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/Friendsoftypo3/ContentBlocks/ViewHelpers">

<f:asset.css identifier="trainingpage-css" href="{cb:assetPath()}/backend.css"/>

<div class="cp_coursedescription">
    <div class="cp_coursewhen">
        <p>Kursleiter:</p>
        <p><strong><f:for as="ul" each="{data.trainer}">
            {ul.first_name} {ul.last_name}<br>
        </f:for></strong></p>
    </div>
    <p>Tag 1: <f:format.date format="d.m.Y">{data.cp_bdate}</f:format.date>&nbsp; Tag 2: <f:format.date format="d.m.Y">{data.cp_bdate2}</f:format.date>&nbsp; Tag 3: <f:format.date
        format="d.m.Y">{data.cp_bdate3}</f:format.date></p>
    <div class="cp_coursewhen">
        <p>Zeit:</p>
        <div>
            <f:sanitize.html>{data.cp_when}</f:sanitize.html>
        </div>
    </div>
    <p>Trainingsort: {data.cp_where}</p>
    <f:format.raw>{data.cp_teaser}</f:format.raw>
</div>

</html>
