/* tanja:constants */
@layer kvmstyles {
  /* Baseline Colors */
  /* as css constants (light theme) */
  :root {
    --clr-brand--primary: oklch(0.6 0.17 143.7);
    --clr-brand--secondary: oklch(0.6 0.17 250);
    --clr-brand--tertiary: oklch(0.6 0.061 62);
    --clr-brand--quaternary: oklch(0.6 0.17 344.5);
    --clr-branddimmed--primary: oklch(from var(--clr-brand--primary) calc(l * .8) calc(c * .8) h);
    --clr-branddimmed--secondary: oklch(from var(--clr-brand--secondary) calc(l * .8) calc(c * .8) h);
    --clr-branddimmed--tertiary: oklch(from var(--clr-brand--tertiary) calc(l * .8) calc(c * .8) h);
    --clr-branddimmed--quaternary: oklch(from var(--clr-brand--quaternary) calc(l * .8) calc(c * .8) h);
    /* ============================ */
    /* Color Theme light            */
    /* ============================ */
    /* application colors */
    --clr-text: var(--clr-bw-020);
    --clr-background: var(--clr-bw-100);
    --clr-h: var(--clr-brand--primary);
    --clr-h--border: var(--clr-brand--primary);
    --clr-accent: var(--clr-brand--primary);
    /* element colors */
    --clr-list--marker: var(--clr-brand--primary);
    --clr-code--bg: var(--clr-bw-060);
    --clr-code--bc: var(--clr-bw-030);
    --clr-input: var(--clr-text);
    --clr-input--bg: var(--clr-bw-095);
    /* buttons */
    --clr-primarybtn--active: var(--clr-bw-090);
    --clr-primarybtn--hover: var(--clr-bw-090);
    --clr-primarybtnbg--active: var(--clr-brand--primary);
    --clr-primarybtnbg--hover: var(--clr-bw-050);
    --clr-primarybtnbg--disabled: oklch(from var(--clr-primarybtn--active) calc(l * .75) c h);
    --clr-primarybtn--border: transparent;
    --clr-secondarybtn--active: var(--clr-bw-090);
    --clr-secondarybtnbg--active: var(--clr-brand--secondary);
    --clr-secondarybtnbg--hover: var(--clr-bw-050);
    --clr-secondarybtnbg--disabled: oklch(from var(--clr-secondarybtnbg--active) calc(l * .75) c h);
    --clr-secondarybtn--border: transparent;
    /* section colors */
    --clr-headerbg: var(--clr-brand--primary);
    --clr-background-accent: var(--clr-bw-090);
    --clr-background-brandcolor: oklch(from var(--clr-brand--primary) calc(l * 1.4) calc(c * 0.5) h);
    --clr-footer-text: var(--clr-bw-100);
    --clr-footerbg: var(--clr-bw-070);
    --clr-footer--border: var(--clr-brand--primary);
    /* menu colors */
    --clr-mnu: var(--clr-bw-080);
    --clr-mnu--active: var(--clr-bw-100);
    --clr-mnu--hover: var(--clr-bw-100);
    --clr-mnubg: var(--clr-headerbg);
    --clr-mnubg--active: var(--clr-headerbg);
    --clr-mnubg--hover: var(--clr-branddimmed--primary);
    --clr-mnumobile: var(--clr-bw-000);
    --clr-mnumobile--active: var(--clr-bw-100);
    --clr-mnumobile--hover: var(--clr-bw-090);
    --clr-mnumobilebg: var(--clr-bw-080);
    --clr-mnumobilebg--active: var(--clr-brand--primary);
    --clr-mnumobilebg--hover: var(--clr-branddimmed--primary);
    /* logo */
    --clr-logo: var(--clr-bw-100);
    --clr-logobg: transparent;
    /* cards */
    --clr-card--accent: var(--clr-brand--primary);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      /* buttons */
      --clr-primarybtn--active: var(--clr-bw-090);
      --clr-primarybtnbg--active: var(--clr-brand--primary);
      --clr-primarybtn--disabled: oklch(from var(--clr-primarybtn--active) calc(l * .75) c h);
      --clr-input: var(--clr-bw-010);
      --clr-input--bg: var(--clr-bw-090);
      /* typographic colors */
      --clr-text: var(--clr-bw-090);
      --clr-h: var(--clr-brand--primary);
      --clr-background: var(--clr-bw-020);
      --clr-background-accent: var(--clr-bw-040);
      --clr-background-brandcolor: oklch(from var(--clr-brand--primary) calc(l * .8) calc(c * 0.5) h);
      --clr-footer-text: var(--clr-bw-100);
      --clr-footerbg: var(--clr-bw-070);
    }
  }
}
/* fonts */
@layer kvmstyles {
  @font-face {
    font-family: "Open SansEB";
    src: url("../Fonts/OpenSans-ExtraBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansEB";
    src: url("../Fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansB";
    src: url("../Fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansB";
    src: url("../Fonts/OpenSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansSB";
    src: url("../Fonts/OpenSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansSB";
    src: url("../Fonts/OpenSans-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansM";
    src: url("../Fonts/OpenSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansM";
    src: url("../Fonts/OpenSans-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("../Fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("../Fonts/OpenSans-Italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansL";
    src: url("../Fonts/OpenSans-Light.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Open SansL";
    src: url("../Fonts/OpenSans-LightItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  /* =============================== */
  :root {
    /* fontfaces */
    --ff: "Open SansL";
    --ff-condensed: "Open SansL";
    --ff-serif: "Open SansL";
    --ff-h: "Open SansSB";
    --ff-nav: "Open Sans";
    --ff-mono: "Open Sans";
    --ff-symbol: "Symbols";
    /* font weight */
    --fw-regular: 100;
    --fw-mono: 300;
    --fw-bold: 600;
    /* font size */
    --fs-fix--small: 16px;
    --fs-fix--normal: 18px;
    --fs-fix--big: 24px;
    /* line height */
    --lh-regular: 1.6;
    --lh-small: 1.2;
    --lh-h: var(--lh-small);
    /* regular font */
    --fs-regular: clamp(var(--fs-fix--normal), (100vw - 960px) / 100 + var(--fs-fix--normal), var(--fs-fix--big));
    --fs-big: calc(var(--fs-regular) * 1.125);
    --fs-small: calc(var(--fs-regular) * 0.875);
    font-size: var(--fs-regular);
    line-height: var(--lh-regular);
  }
  .fs-big {
    font-size: var(--fs-big);
    line-height: 1.8;
  }
  .fs-small {
    font-size: var(--fs-small);
  }
}
/* metrics */
@layer kvmstyles {
  :root {
    --gutter: 1rem;
    --container-gutter: 3rem;
    --flow-spacer: 1em;
  }
}
/* headings */
@layer kvmstyles {
  /* reset */
  h1 {
    font-family: var(--ff-h);
    font-weight: var(--fw-bold);
    color: var(--clr-bw-090);
  }
  .h1--kvmpagetitle {
    color: var(--clr-brand--primary);
  }
  .h1-font,
  .h1 {
    font-size: clamp(2.25rem, 2.75vw, 3.5rem);
  }
  h2 {
    font-family: var(--ff);
    font-weight: var(--fw-regular);
  }
  .h2-font,
  .h2 {
    font-size: clamp(2rem, 2.25vw, 3rem);
  }
  .h3-font,
  .h3 {
    font-size: clamp(1.1rem, 1.5vw, 2rem);
  }
  .h4-font,
  .h4 {
    font-size: clamp(1.1rem, 1vw, 1.25rem);
  }
  .titelclaim {
    color: var(--clr-mnu--active);
    padding-block-start: var(--gutter);
    padding-block-end: 0;
    margin: 0;
  }
  .h2, .h3, .h4 {
    border: 0;
    margin-block-start: 0;
  }
  .h4 {
    color: var(--clr-text);
  }
}
@layer kvmstyles {
  .form-h2 {
    color: var(--clr-h);
    font-size: 110%;
  }
  .form-control {
    color: var(--clr-input);
    background-color: var(--clr-input--bg);
  }
  input:focus-visible, textarea:focus-visible, select:focus-visible {
    outline: 1px solid var(--clr-text);
  }
  .form-group:has(input[readonly=readonly]) .form-control {
    padding-inline: 0;
    background-color: transparent;
    color: var(--clr-brand--primary);
    font-weight: var(--fw-bold);
  }
}
/* navmainmenu */
@layer kvmstyles {
  /* main navigation */
  .nav-mobile {
    top: 60px;
    right: 22px;
    max-width: 85vw;
    width: 100%;
    padding: calc(var(--gutter) / 2);
    background-color: oklch(from var(--clr-mnumobilebg) l c h/0.6);
    backdrop-filter: blur(1rem);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  .level-0 {
    margin-inline-start: 0;
  }
  .mlevel-1 {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2px;
    justify-content: space-between;
    align-content: space-between;
    background-color: transparent;
    padding: 0;
    max-height: calc(100svh - 5rem);
    overflow-y: scroll;
  }
  .mlevel-2,
  .mlevel-3 {
    list-style: none;
    padding: 0;
  }
  .mlevel-01 {
    flex: 250px 1 1;
    display: inline-block;
    border-block-start: 0;
  }
  .mlevel-02,
  .mlevel-03 {
    display: block;
    font-size: var(--fs-small);
  }
  .mlevel-02 {
    padding-inline-start: var(--gutter);
  }
  .mlevel-03 {
    padding-inline-start: calc(var(--gutter) * 2);
  }
  a.mmenu-item {
    display: block;
    padding: 0.5em;
    width: 100%;
  }
  .hamburger-menu svg {
    --button-color: var(--clr-mnu--active);
  }
  .hamburger-menu svg:hover, .hamburger-menu svg:focus {
    --button-color: var(--clr-mnu--hover);
    background-color: var(--clr-mnubg--hover);
  }
}
/* sections (typo3-containers) */
@layer kvmstyles {
  section {
    padding-block: calc(var(--gutter) * 2);
  }
  .section-hero {
    background-color: var(--clr-bw-000);
    padding-block: 0;
  }
  .section-hero .hero {
    position: relative;
    grid-row: revert;
  }
  .section-hero .cp-image {
    margin-block-end: 0;
  }
  .section-hero .heroleft {
    grid-column: full-width;
  }
  .section-hero .heroright {
    background-color: var(--clr-bw-000);
    grid-column: content;
    padding-block: var(--gutter);
  }
  .section-hero-small {
    padding-block: 0;
  }
  .section-hero-small img {
    height: 50vh;
  }
  .hero-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, transparent 0%, transparent 70%, var(--clr-bw-000) 100%);
  }
  .heroright {
    margin-bottom: 0;
  }
  .heroright .cp-text {
    z-index: 2;
    color: var(--clr-bw-100);
  }
  .heroright .cp-text .h2 {
    margin-block: 1em;
    border: 0;
    color: var(--clr-bw-100);
  }
  @media (width > 960px) {
    .section-hero .hero {
      grid-row: 1/-1;
    }
    .section-hero .heroleft {
      grid-column: full-width-start/centerline;
    }
    .section-hero .heroright {
      grid-column: centerline/breakout-end;
      align-content: center;
    }
  }
}
/* page */
@layer kvmstyles {
  /*   .headercontent {
      display: grid;
      justify-content: space-between;
      align-items: end;
      container-type: inline-size;
      container-name: headercontent;
      position: relative;
    }

    .mobilemenu {
      padding-block: var(--gutter);
      margin-inline: 0;
      position: relative;
    }*/
  .logo {
    background-color: var(--clr-brand--primary);
    width: min(150px, 20vw);
    left: 1rem;
    grid-column: 1;
    border-radius: var(--border-radius);
  }
  .kvm-titel {
    color: var(--clr-mnu--active);
    padding-inline-start: 22vw;
  }
}
/* page */
@layer kvmstyle {
  footer {
    color: var(--clr-footer-text);
    background-color: var(--clr-footerbg);
  }
  .footer--content {
    padding-block: var(--gutter);
  }
}
@layer eventstyles {
  .eventlist {
    min-width: 320px;
  }
  .eventcards {
    margin-block-end: var(--gutter);
  }
  .eventcards a {
    text-decoration: none;
  }
  .event {
    margin-block: var(--gutter);
  }
  .eventinfo {
    margin-left: 110px;
    padding-inline: var(--gutter);
    min-height: 110px;
  }
  .eventnav {
    margin-left: 110px;
    padding-inline: var(--gutter);
  }
  .eventcard {
    border: 1px solid var(--clr-brand--primary);
    margin-bottom: var(--gutter);
  }
  .eventcard .eventinfo {
    padding-block: calc(var(--gutter) / 2);
  }
  .eventdate {
    float: left;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: calc(var(--gutter) / 2);
    color: var(--clr-bw-090);
    background-color: var(--clr-brand--primary);
    text-align: center;
    width: 110px;
    height: 110px;
  }
  .eventdate .eventdate--day {
    font-weight: var(--fw-bold);
    font-size: var(--fs-big);
  }
  .eventdate .eventdate--month,
  .eventdate .eventdate--year {
    font-size: calc(var(--fs-small) * 0.8);
  }
  .eventtitle {
    font-weight: var(--fw-bold);
  }
  .eventschedule {
    padding-block: var(--gutter);
  }
  .button--placeholder {
    background-color: transparent;
    outline: 2px solid var(--clr-brand--primary);
    outline-offset: -2px;
  }
}
@layer trainingstyles {
  /* Created by Content Blocks */
  /* trainingslist */
  .trainingcards {
    margin-block-end: var(--gutter);
  }
  .trainingcards a {
    text-decoration: none;
  }
  .trainingcard {
    border: 1px solid var(--clr-brand--primary);
    margin-bottom: var(--gutter);
    padding: var(--gutter);
  }
  .trainingcard .traininginfolist {
    padding-block: calc(var(--gutter) / 2);
  }
  /* trainingspage */
  .trainingimageleft {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-width;
  }
  .trainingimageleft .accent {
    background-color: var(--clr-background-accent);
  }
  .trainingimageleft .brandcolor {
    background-color: var(--clr-background-brandcolor);
  }
  .trainingimageleft .cp-image {
    grid-column: full-width;
    margin-block-end: 0;
  }
  .trainingimageleft .trainingimageleft-text {
    grid-column: content;
    padding-block-end: var(--gutter);
  }
  .trainingimageleft .trainingimageleft-text p {
    padding-block-end: var(--gutter);
  }
  .trainingimageleft .trainingimageleft-text > h1 {
    color: var(--clr-brand--primary);
  }
  .trainingnav {
    padding-block: var(--gutter);
  }
  .trainingteaser {
    font-weight: bold;
  }
  .traininginfo {
    padding: var(--gutter);
    margin-block: var(--gutter);
    border: 2px solid var(--clr-brand--primary);
  }
  .traininginfo > ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
  .traininginfo-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60px 1fr;
    grid-column-gap: var(--gutter);
    align-items: center;
    padding-block: var(--gutter);
  }
  .traininginfo-trainer {
    font-size: var(--fs-big);
  }
  @media (min-width: 800px) {
    .trainingimageleft .cp-image {
      grid-column: full-width-start/centerline;
    }
    .trainingimageleft .trainingimageleft-text {
      grid-column: centerline/breakout-end;
      align-self: center;
      padding-inline-start: calc(var(--gutter) * 2);
    }
  }
}
@layer coursestyles {
  .courseimageleft {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-width;
  }
  .courseimageleft .accent {
    background-color: var(--clr-background-accent);
  }
  .courseimageleft .brandcolor {
    background-color: var(--clr-background-brandcolor);
  }
  .courseimageleft .cp-image {
    grid-column: full-width;
    margin-block-end: 0;
  }
  .courseimageleft .courseimageleft-text {
    grid-column: content;
    padding-block-end: var(--gutter);
  }
  .courseimageleft .courseimageleft-text p {
    padding-block-end: var(--gutter);
  }
  .courseimageleft .courseimageleft-text > h1 {
    color: var(--clr-brand--primary);
  }
  .courselist {
    min-width: 320px;
  }
  .coursecards {
    margin-block-end: var(--gutter);
  }
  .coursecards a {
    text-decoration: none;
  }
  .course {
    margin-block: var(--gutter);
  }
  .courseheader {
    padding-block: var(--gutter);
  }
  .courseheader > h1 {
    color: var(--clr-brand--primary);
  }
  .coursecard {
    border: 1px solid var(--clr-brand--primary);
    margin-bottom: var(--gutter);
  }
  .coursecard .courseinfo {
    padding-block: calc(var(--gutter) / 2);
  }
  .coursetitle {
    font-weight: var(--fw-bold);
  }
  .courseschedule {
    padding-block: var(--gutter);
  }
  .coursenav {
    padding-block: var(--gutter);
  }
  .button--placeholder {
    background-color: transparent;
    outline: 2px solid var(--clr-brand--primary);
    outline-offset: -2px;
  }
  .courseinfo {
    padding: var(--gutter);
    margin-block: var(--gutter);
    border: 2px solid var(--clr-brand--primary);
  }
  .courseinfo > ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
  .courseinfo-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60px 1fr;
    grid-column-gap: var(--gutter);
    align-items: center;
    padding-block: var(--gutter);
  }
  .courseinfo-trainer {
    font-size: var(--fs-big);
  }
  @media (min-width: 800px) {
    .courseimageleft .cp-image {
      grid-column: full-width-start/centerline;
    }
    .courseimageleft .courseimageleft-text {
      grid-column: centerline/breakout-end;
      align-self: center;
      padding-inline-start: calc(var(--gutter) * 2);
    }
  }
}
/* page */
@layer kvmstyles {
  html {
    font-weight: var(--fw-regular);
  }
  main {
    margin-block-start: 60px;
    container: main/inline-size;
    align-content: start;
  }
}

/*# sourceMappingURL=kvmLayout.css.map */
