<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:spaceless>
    <header class="content-grid">
        <f:render partial="Header" arguments="{_all}"/>
    </header>

    <main class="content-grid">
        <!--TYPO3SEARCH_begin-->
        <f:render section="Main" />
        <!--TYPO3SEARCH_end-->
    </main>

    <footer class="content-grid">
        <f:render partial="Footer" arguments="{pagecontent.footer}"/>
        <script nonce="{f:security.nonce()}">
            /*<![CDATA[*/
            /*TS_inlineFooter */
            var skjsonlylightbox = GLightbox({selector: '.skjsonlylightbox',touchNavigation: true,loop: true});

            /*]]>*/
        </script>
    </footer>
</f:spaceless>
</html>

