<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:render partial="Header/Logo" arguments="{_all}"/>
<div class="headercontent">
    <div class="kvm-titel">Kynologischer Verein Münsingen</div>
    <f:render partial="Menu/MainMenu" arguments="{
        page: page,
        mainmenu: mainmenu,
        languagemenu: languagemenu,
        homePageTitle: homePageTitle,
        homePageSlug: homePageSlug,
        homePageUid: homePageUid
    }"/>
</div>
</html>
