<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<section id="section-hero" class="section-hero content-grid full-width">

    <f:for each="{hero.records}" as="record" iteration="hit">
        <f:if condition = "{hit.cycle} == 1">
            <f:then>
                <div class="hero heroleft">
                    <f:cObject
                        typoscriptObjectPath="tt_content.{record.CType}"
                        data="{record}"
                        table="tt_content"
                    />
                </div>
                <div class="hero-gradient"></div>
            </f:then>
            <f:else>
                <div class="hero heroright">
                    <h1 class="h1 h1--kvmpagetitle">{pageTitle}</h1>
                    <f:cObject
                        typoscriptObjectPath="tt_content.{record.CType}"
                        data="{record}"
                        table="tt_content"
                    />
                </div>
            </f:else>
        </f:if>
    </f:for>
</section>
