<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<section id="s{data.uid}" class="section-hero-small content-grid full-width">
    <div class="hero-small full-width">
        <f:if condition = "{hero.records.0}">
            <f:cObject
                typoscriptObjectPath="tt_content.{hero.records.0.CType}"
                data="{files: hero.records.0.image, showcaption: hero.records.0.image_zoom}"
                table="tt_content"
            />
        </f:if>
    </div>
    <div class="hero-small-overlay">
        <h1 class="h1 h1--pagetitle">{pageTitle}</h1>
    </div>
</section>
